<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" beStrictAboutTestsThatDoNotTestAnything="false" colors="true" processIsolation="false" stopOnError="false" stopOnFailure="false" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.1/phpunit.xsd" cacheDirectory=".phpunit.cache" backupStaticProperties="false">
  <testsuites>
    <testsuite name="Kamu Test Suite">
      <directory suffix=".php">./tests</directory>
    </testsuite>
  </testsuites>
  <php>
    <env name="DB_DRIV" value="mysql"/>
    <env name="DB_PORT" value="3306"/>
    <env name="DB_NAME" value="kamu"/>
    <env name="DB_USER" value="root"/>
    <env name="DB_PASS" value=""/>
  </php>
</phpunit>
